# Python
*.pyc
*.pyo
__pycache__/
*.pdb
*.tgz
*.egg
*.egg-info/
*.env

# Unity
[Tt]emporary/[Tt]emporaryCache/
[Ll]ibrary/
[Ll]ogs/
[Aa]ssets/**/*.tmp
[Aa]ssets/**/*.bak
[Aa]ssets/**/*.csproj
[Aa]ssets/**/*.userprefs
[Aa]ssets/**/*.pidb
[Aa]ssets/**/*.sln
[Aa]ssets/**/*.suo
[Aa]ssets/**/*.unityproj
[Aa]ssets/**/*.booproj
[Aa]ssets/**/*.tmp
[Aa]ssets/Plugins/**/*.dll
[Aa]ssets/Plugins/**/*.so
[Aa]ssets/Plugins/**/*.dylib
[Aa]ssets/**/*.dll.meta
[Aa]ssets/**/*.sln.meta
[Aa]ssets/**/*.userprefs.meta
[Aa]ssets/**/*.pidb.meta
[Aa]ssets/**/*.suo.meta
[Ll]ibrary/**/*.meta
*.csproj
*.sln
*.suo
*.pidb
*.booproj
!exported/